{# Use PAGINATION_PATTERNS or pagination may break #}
{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}

                <div class="clear"></div>
                <div class="pages">

                {% if articles_page.has_previous() %}
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="prev_page">&lt;&lt;&nbsp;prev</a>
                {% endif %}

                {% if articles_page.has_next() %}
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="next_page">next&nbsp;&gt;&gt;</a>
                {% endif %}

                    <span>page {{ articles_page.number }}/{{ articles_paginator.num_pages }}</span>
                </div>
{% endif %}
